{{#d-section pageClass="users"}}
  {{#load-more selector=".directory tbody tr" action="loadMore"}}
    <div class="container">
      <div class='directory'>

        <div class='clearfix'>
          {{current-period-chooser current_period=current_period}}
          {{text-field value=nameInput placeholderKey="current_directory.filter_name" class="filter-name no-blur"}}
        </div>

        {{#conditional-loading-spinner condition=model.loading}}
          {{#if model.length}}
            <div class='total-rows'>{{i18n "current_directory.total_rows" count=model.totalRows}}</div>

            <table>
              <thead>
                <th>&nbsp;</th>
                {{current-directory-toggle field="topic_count" order=order asc=asc}}
                {{current-directory-toggle field="post_count" order=order asc=asc}}
                {{current-directory-toggle field="total_participation" order=order asc=asc}}
                {{#if showTimeRead}}
                  <th>{{i18n "current_directory.time_read"}}</th>
                {{/if}}
              </thead>
              <tbody>
                {{#each model as |item|}}
                  {{current-directory-item item=item showTimeRead=showTimeRead}}
                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class='clearfix'></div>
            <p>{{i18n "current_directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
